<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UserTracker.net.App" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UserTracker.net.App>
            <setting name="ShadowQuantity" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ShadowSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShadowAlpha" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="ShadowBlurRadio" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="IsReverse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsBlackShadow" serializeAs="String">
                <value>True</value>
            </setting>
        </UserTracker.net.App>
    </userSettings>
</configuration>